<div class="login-page">
  <div class="login-logo">
    <img src="/img/logo.png" alt="MonPlex" />
  </div>

  <div class="login-card">
    <h1>Connexion</h1>
    <a class="plex-btn" href="/login">Se connecter avec Plex</a>
  </div>
</div>
